* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0px;
  background: #eee;
  padding-left: 0px;
  padding-bottom: 30px;
}

h1, h2 {
  padding-top: 30px;
  text-transform: uppercase;
}

pre {
  font-family: Monospace;
}

label {
  clear:both;
  float: left;
  width: 6em;
  text-align: left;
  margin-top: 0.3em;
}

input {
  text-align: left;
  border-radius: none;
  margin-top: 0.4em;
}

select {
  text-align: left;
  border-radius: none;
  margin-top: 0.4em;
}

input[type=submit], button {
  font-size: 0.75em;
  font-weight: bold;
  padding:4px 12px;
  background:#ccc;
  margin-left: 0.1em;
  margin-top: 1em;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.row {
  padding-left: 100px;
  padding-right: 100px;
  clear: both;
}

.column {
  float: left;
}

.left {
  width: 400px;
}

.right {
  width: auto;
}
